// Import materialize css components
@import '../../node_modules/materialize-css/sass/materialize.scss';

// #2B71B7 #FFCB05

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.capital {
  text-transform: capitalize;
}

.input-style {
  border: 1px solid #b0bec5;
  border-radius: 5px;
}

.all-pokemon-style {
  cursor: pointer;
  height: 48px;
  background-color: #2B71B7;
  color: #FFCB05;
  padding-top: 5px;
  margin: 10px;
  border-radius: 5px;
}

.ability-style {
  background-color: #78909c;
  height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;;
  width: auto;
  border-radius: 10px;
  color: white;
}

.stat-style {
  background-color: #66bb6a;
  display: inline-block;
  border: 1px solid #b0bec5;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

#poke-img {
  height: 192px;
  //transform: scale(2);
}

#type-style {
  height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;;
  width: auto;
  border-radius: 10px;
  color: white;
}

#navbar-color {
  background-color: #2B71B7!important;
}

#rounded-border {
  border-radius: 5px;
  padding-bottom: 10px;
}

#header-logo {
  height: 52px;
}
